* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}

main {
    height: 85vh;
}

header h3 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 3rem;
}

#logo {
    text-decoration: none;
    color: black;
}

.panels{
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-form {
    transform: translateX(7rem);
    transform: translateY(3rem);
    display: flex;
}

.output-panel{
    transform: translateX(5rem);
    transform: translateY(3rem);
}

.input-form button {
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    background: rgb(99, 99, 99);
    color: white;
    margin-top: 16rem;
    margin-bottom: 16rem;
    position: relative;
}


footer {
    height: 8vh;
    background-color: rgb(99, 99, 99);
    color: white;
    padding: 1rem;
}
footer h4 {
    padding: 0.2rem;
}
footer h4 a {
    color: white;
}

textarea {
    padding: 2rem;
    max-width: 80%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
